In [2]:
import pandas as pd
diabetes_data = pd.read_csv("../data/diabetes.csv")
diabetes_data.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [3]:
# Схоже що тільки Outcome колонка - категорійна
diabetes_data_numbers = diabetes_data.drop(columns=['Outcome'])
diabetes_data_categorical = diabetes_data[['Outcome']].copy()

 Підрахувати основні статистичні характеристики для кожної з чисельних
 ознак:

In [4]:
# Мода, медіана, математичне очікування;
stats_df = pd.DataFrame({
    'mean':   diabetes_data_numbers.mean(),
    'median': diabetes_data_numbers.median(),
    'mode':   diabetes_data_numbers.mode().iloc[0]
}).T
stats_df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
median,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
mode,1.000000,99.000000,70.000000,0.000000,0.000000,32.000000,0.254000,22.000000

In [ ]:
# Дисперсію;
# TODO

In [ ]:
# 25%, 75%, 50% квантилі.
# TODO

Задача з зірочкою - зробити все вищеперераховане для категорійних змінних.

In [ ]:
# Мода, медіана, математичне очікування;
# TODO

In [5]:
# Дисперсію;
# diabetes_data_categorical.value_counts(normalize=True)
diabetes_data_categorical.var()

Outcome    0.227483
dtype: float64

In [6]:
# 25%, 75%, 50% квантилі.
diabetes_data_categorical.quantile([0.25, 0.5, 0.75])
# Сенсу для бінарного значення не багато, як на мене, просто відображає дизбаланс.

      Outcome
0.25      0.0
0.50      0.0
0.75      1.0