In [17]:
import pandas as pd

diabetes_data = pd.read_csv("../data/diabetes.csv")
diabetes_data.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [18]:
# Схоже що тільки Outcome колонка - категорійна
diabetes_data_numbers = diabetes_data.drop(columns=["Outcome"])
diabetes_data_categorical = diabetes_data[["Outcome"]].copy()

 Підрахувати основні статистичні характеристики для кожної з чисельних
 ознак:

In [19]:
# Мода, медіана, математичне очікування;
stats_df = pd.DataFrame(
    {
        "mean": diabetes_data_numbers.mean(),
        "median": diabetes_data_numbers.median(),
        "mode": diabetes_data_numbers.mode().iloc[0],
    }
).T
stats_df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
median,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
mode,1.000000,99.000000,70.000000,0.000000,0.000000,32.000000,0.254000,22.000000

In [20]:
# Дисперсія;
var_df = diabetes_data_numbers.var().to_frame(name="variance")
var_df.head(10)

# Insulin має дуже велику дисперсію відносно інших ознак.

                              variance
Pregnancies                  11.354056
Glucose                    1022.248314
BloodPressure               374.647271
SkinThickness               254.473245
Insulin                   13281.180078
BMI                          62.159984
DiabetesPedigreeFunction      0.109779
Age                         138.303046

In [21]:
# 25%, 75%, 50% квантилі.
quantiles_df = diabetes_data_numbers.quantile([0.25, 0.5, 0.75]).T
quantiles_df.head(10)

                              0.25      0.50       0.75
Pregnancies                1.00000    3.0000    6.00000
Glucose                   99.00000  117.0000  140.25000
BloodPressure             62.00000   72.0000   80.00000
SkinThickness              0.00000   23.0000   32.00000
Insulin                    0.00000   30.5000  127.25000
BMI                       27.30000   32.0000   36.60000
DiabetesPedigreeFunction   0.24375    0.3725    0.62625
Age                       24.00000   29.0000   41.00000

Задача з зірочкою - зробити все вищеперераховане для категорійних змінних.

In [25]:
# Мода, медіана, математичне очікування;
df = pd.DataFrame(
    {
        "mode": [diabetes_data["Outcome"].mode()[0]],
        "median": [diabetes_data["Outcome"].median()],
        "mean": [diabetes_data["Outcome"].mean()],
    },
    index=["Outcome"],
)
df

# Cенсу рахувати медіану та mean для бінарної змінної не багато.

         mode  median      mean
Outcome     0     0.0  0.348958

In [26]:
# Дисперсію;
# diabetes_data_categorical.value_counts(normalize=True)
diabetes_data_categorical.var()

Outcome    0.227483
dtype: float64

In [24]:
# 25%, 75%, 50% квантилі.
diabetes_data_categorical.quantile([0.25, 0.5, 0.75])
# Сенсу для бінарного значення не багато, як на мене, просто відображає дизбаланс.

      Outcome
0.25      0.0
0.50      0.0
0.75      1.0